/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Footer */
.footer-info {
    color: #03353e;
    background-color: #ebf2ea;
}

.footer-copyright {
    color: #f8f9fa;
    background-color: #03353e;
}

.footer-copyright .column {
    padding: 0 0.75rem;
}

.footer-info-heading {
    color: #87b842;
    font-weight: 700;
}

.footer-info-list li {
    margin-top: .4rem;
}

/* Navbar */
.navbar-brand {
    justify-content: space-between;
}

.burger {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    padding-top: .6rem;
    color: #03353e;
}

.burger:hover, .burger:active, .burger:focus {
    background-color: transparent;
}

/* Mobile Sidebar */
.left-sidebar-content {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    min-height: 100vh;
    width: 60%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #e4ebe3;
    overflow-y: scroll;
}

.right-sidebar-content {
    position: absolute;
    right: 0;
    top: 0;

    margin: 0;
    min-height: 100vh;
    width: 60%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #e4ebe3;
    overflow-y: scroll;
}

#left-sidebar.modal {
    display: flex;
    left: -1000%;
    transition: all .2s;
    z-index: 0;
}

#left-sidebar.modal.is-active {
    left: 0;
    z-index: 40;
}

#left-sidebar .modal-background {
    display: none;
}

#left-sidebar.modal.is-active .modal-background {
    display: block;
}

#right-sidebar.modal {
    display: flex;
    right: -1000%;
    transition: all .2s;
    z-index: 0;
}

#right-sidebar.modal.is-active {
    right: 0;
    z-index: 40;
}

#right-sidebar .modal-background {
    display: none;
}

#right-sidebar.modal.is-active .modal-background {
    display: block;
}

#left-sidebar-close:link, #left-sidebar-close:visited, #right-sidebar-close:link, #right-sidebar-close:visited {
    color: #03353e;
}

.submenu-heading:first-child {
    padding: .5rem .5rem;
    background-color: #ebf2ea;
    border-bottom: 1px solid #558b2f;
}

.submenu-heading:not(:first-child) {
    padding: .5rem .5rem;
    background-color: #ebf2ea;
    border-top: 1px solid #c5e1a5;
    border-bottom: 1px solid #558b2f;
}

.submenu-heading, .submenu-heading a {
    color: #87b842;
    font-weight: bold;
}

.submenu-item {
    padding: .5rem 1rem;
    background: #ffffff;
}

.submenu-item:last-child {
    box-shadow: 0 10px 5px -2px rgba(0, 0, 0, 0.2);
}

.submenu-item a {
    color: #03353e;
}

@media (min-width: 1024px) {
    main {
        padding: 1rem 0;
    }

    .home-top-section {
        padding: .6rem 1.5rem 1rem 1.5rem;
    }
}

@media (max-width: 1023px) {
    .home-top-section {
        padding: 0 1.5rem 1rem 1.5rem;
    }
}